body {
  background-image: url(../images/bear_lake_bg.jpg);
  background-size: cover;
}

.holiday-card-row {
  align-content: start;
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.greeting-header {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: normal;
}

.handwriting {
  font-family: 'Alex Brush', cursive;
  font-size: 1.5em;
  font-weight: normal;
}

.photo {
  background-size: cover;
  background-position: 50% 50%;
  min-width: 200px;
  min-height: 240px;
}

#greeting {
  max-width: 800px;
}

#photo-1 {
  background-image: url(../images/vaccine.jpg);
}

#photo-2 {
  background-image: url(../images/aj_shirts.jpg);
}

#photo-3 {
  background-image: url(../images/bear_lake.jpg);
}

#photo-4 {
  background-image: url(../images/boat_amy_yuriko.jpg);
}

#photo-5 {
  background-image: url(../images/boat_champagne.jpg);
}

#photo-6 {
  background-image: url(../images/boat_wave.jpg);
}

#photo-7 {
  background-image: url(../images/curry_up_now.jpg);
}

#photo-8 {
  background-image: url(../images/lilies.jpg);
}

#photo-9 {
  background-image: url(../images/spider_cakes.jpg);
}
