.highlight-border-top {
  border-top: 3px solid #4aedc4 !important;
}

.highlight-border-left {
  border-left: 3px solid #4aedc4 !important;
}

.picross-cell {
  background-color: #eee;
  cursor: pointer;
}

.picross-cell.filled {
  background-color: #3f51b5;
}

.picross-cell.marked {
  background-color: #fff;
}

.picross-cell.xed {
  background-color: #ff7961;
}

.clue {
  padding: 5px;
}
